.cardholder {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  line-height: 0;
  background-color: #292527;
  color: #804e6a;
  font-size: 14px;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px #221e1e;

  .card-name {
    display: flex;
    flex-flow: column nowrap;
    font-size: 25px;
    color: #815e73;
    opacity: 0.1;
    margin-bottom: 2px;
  }

  .inner-card-name {
    font-size: 22px;
    font-weight: bolder;
  }
}

.contact-buttons {
  display: flex;
  flex-flow: row nowrap;

  button {
    margin: 2px;
    border: 0px;
    background: #583046;
    font-family: 'Inconsolata', sans-serif;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
  }
}
