<div class="contact-card">
  <h1 class="card-name">{{cardData.name}}</h1>
  <p><b>Email:</b> {{cardData.email}}</p>
  <p><b>Mobile #:</b> {{cardData.mobile}}</p>
  <p><b>Work #:</b> {{cardData.work}}</p>
  <p><b>Home #:</b> {{cardData.home}}</p>
  <p><b>Twitter:</b> {{cardData.twitter}}</p>
  <p><b>Instagram:</b> {{cardData.instagram}}</p>
  <p><b>Github:</b> {{cardData.github}}</p>
  <div class="contact-buttons">
    <button routerLink="/edit">Edit</button>
    <button>Delete</button>
  </div>
</div>
