/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html,
body {
  background-color: #252525;
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
  margin: 0;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited {
  color: #985277;
}

a:hover {
  color: #ce68a5;
}

h1 {
  font-size: 25pt;
  color: #985277;
  margin-bottom: 0;
  font-weight: bolder;
  text-transform: lowercase;
  letter-spacing: 5px;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
