ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;

  a {
    text-decoration: none;
  }
}

.header-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  padding: 10px;
  color: #5c374c;

  .header-left {
    margin: 0 15px;
    font-size: 15pt;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .header-right {
    display: flex;
    flex-flow: row nowrap;
    float: right;
    margin: 0 15px;
  }
}

button {
  border: 0;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #5c374c;
  font-family: 'Inconsolata', sans-serif;
  border-radius: 10px;
  margin-left: 15px;

  &:hover {
    background-color: lighten(#5c374c, 10%);
  }
}
